# Dependencias
node_modules
.pnp
.pnp.js

# Directorios de compilación
.next/
out/
build/
dist/

# Archivos de caché
.npm
.eslintcache
.vercel
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno (consideración de seguridad)
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de Git
.git
.gitignore

# Archivos específicos del editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.dockerignore
Dockerfile

# Tests
coverage/
.nyc_output

# Otros
README.md
LICENSE
.github/ 